.dest{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    padding-bottom: 25px; 
}
.dest a:hover{
    font-size: 20px;
}