.safari{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    padding-bottom: 325px; 
    flex-wrap: wrap;
   
}
.post{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 20px; 
    color: #fff;
    border-radius: 20px 20px 20px 0;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
}
.area-tours{
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-right: 10px;
}
.container a{
    text-decoration: none;
}
.container a:hover{
    font-size: 20px;
}
.area {
    padding-top: 50px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 25px; 
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px 20px 20px 20px;
    flex-wrap: wrap;
}
.area h1{
    font-size: 30px;
    text-align: center;
}
.area p{
    font-size: 25px;
}
.col-md-2{
    background-image: linear-gradient(rgba(192, 186, 186, 0.6),rgba(182, 178, 178, 0.6));
    border-radius: 20px 20px 20px 20px;
    padding: 20px 20px 20px 0;
    margin: 20px 0 20px 0;
}
.col-md-10{
    padding: 20px 20px 20px 20px;
    
}